* {
    border: 1px solid gray;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: inline;
}



a:hover {
    color:rgb(234, 250, 249);
    font-style: italic;
}

.navigation {
    display: inline;
    color: lime;

}

li {
    list-style: none;
    display: inline;
    max-width: 50px;
    padding: 0.5em;
}

.header {
    background-color: rgb(9, 10, 85);
    color: antiquewhite;
}


.bg {
    width: 100%;
    height: 80px;
    z-index: 0;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: rgb(226, 219, 219);
}

.about-title {
    flex: 1 1 30%;
}

.about-content {
    flex: 1 1 70%;
}

.large-image {
    width: 90%;
    height: auto;
    display: block;
    padding: 10px;
}

.small-image {
   width: calc(40% - 10px);
   height: auto;
   display: inline-block;
   margin: auto;
   padding: 20px;
   vertical-align: top;
}

@media screen and (max-width: 768px) {
    header,
    main,
    nav
    {
      flex-direction: column;
    }
}