/* * {
    border: 1px solid gray;

} */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: inline;
    margin-left: auto;
}

h1 {
    padding: 0;
    margin: 0;
    align-items: flex-start;
}

a:hover {
    color:rgb(234, 250, 249);
    font-style: italic;
}

.navigation {
    display: inline;

}

li {
    list-style: none;
    display: inline;
    max-width: 50px;
    padding: 0.5em;
}

.header {
    background-color: #3d8fa8;
    color: antiquewhite;
    padding-left: 20px;
}

.jc-portrait {
    height: 200px;
    width: 200px;
    display: inline;
    border: none;
    padding: 0;
    margin: 0;
    
}

.bg {
    width: 100%;
    height: 80px;
    z-index: 0;
}

.main section{
    display: flex;
    flex-direction: row;
    background-color: rgb(226, 219, 219);
    padding: 10px;
}

.main h2 {
    width: 30%;
    text-align: right;
    font-size: 25px;
    padding-right: 10px;
    border-right: 2px solid rgb(9, 10, 85);
}

main p {
    width: 70%;
}

.about {
    display: inline;
}

.about-title {
    flex: 1 1 30%;
}

.about-content {
    flex: 1 1 70%;
    padding: 8px;
    line-height: 2;
}

.large-image {
    width: 90%;
    height: auto;
    display: block;
    padding: 10px;
}

.small-image {
   width: calc(40% - 10px);
   height: auto;
   display: inline-block;
   margin: auto;
   padding: 20px;
   vertical-align: top;
}

footer {
    background-color: rgb(105, 218, 70);
    margin: 0;
    height: 60px;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .header,
    .navigation ul,
    .main section,
    .main h2,
    .main p
    {
      flex-direction: column;
      width: 100%;
    }

    .main h2 {
        text-align: center;
    }
}